/* Gaya umum untuk body dan background mosaik */
body {
    font-family: Arial, sans-serif;
    background: #e6efe4 url('img/background.jpg') repeat;
    background-size: 100%; /* Ukuran gambar asli */
    background-attachment: fixed; /* Latar tetap pada posisinya */
    margin: 0;
    padding: 0;
}

/* Gaya untuk header dan footer */
.header {
    background-color: #004D1A;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 50px;
    position: relative;
}

.bold-text {
    font-weight: bold; /* Membuat teks menjadi bold */
}

.footer {
    background-color: #006400;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header img {
    height: 80px;
}

.header h2 {
    margin: 0;
}

/* Gaya untuk konten utama */
.content {
    width: 80%;
    margin: auto;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Gaya untuk box nomor perforasi */
.perforasi-box {
    background-color: #a2d5a8;
    color: #006400;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #c0e2b7;
    color: #333;
}

/* Gaya untuk tombol */
.button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #00bfff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Warna biru untuk tombol */
    color: white; /* Teks tombol berwarna putih */
    text-decoration: none; /* Menghapus garis bawah pada link */
    font-size: 1em; /* Ukuran font */
    font-weight: bold; /* Membuat teks bold */
    border-radius: 5px; /* Membuat sudut tombol melengkung */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Memberikan efek bayangan */
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.login-button:hover {
    background-color: #0056b3; /* Warna tombol saat hover */
    transform: scale(1.05); /* Sedikit membesarkan tombol saat hover */
}

/* Gaya untuk footer */
.footer p {
    margin: 0;
    font-size: 0.9em;
}
